#Login {
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    padding: 2em;
    margin-top: 1em;

    .login-form {
        width: 100%;
        max-width: 50%;
        margin: auto;
    }
    .form-block {
        display: block;
        margin-bottom: 1em;

        label {
            display: block;
            font-size: 0.7em;
            opacity: 0.8;
            margin-bottom: 5px;
        }

        input {
            display: block;
            width:calc(100% - 1em);
            padding: 0.5em;
            border-radius: 5px;
            border: 1px solid #f1f1f1;
        }

        .input-hint {
            font-size: 0.6em;
            opacity: 0.6;
        }
    }
}